body {
	font-family: sans-serif;
	text-align: center;
	background-image: url("/kpop-collage.webp");
	background-size: cover;
	background-attachment: fixed;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}